{% extends "dashboard.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching Jobs</title>
</head>
<body>
    <h1>Matching Jobs</h1>
    <ul>
        {% for job in matching_jobs %}
        <li>
            <h2>Job Title: {{ job.job_title }}</h2>
            <p>Number Of Openings: {{job.number_of_openings}}</p> 
            <p>Description: {{ job.description }}</p>
        </li>
        {% empty %}
        <li>No matching jobs found</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock content %}
